.pos-box {
	position: fixed;
	position:expression("absolute");
	/*width: 225px;*/
	/*display:none;*/
	/*style="border:10px solid; height:700px; display:flex;"*/
	border:20px solid;
	height:700px;
	display:flex;
}

.pos-box-head {
	background-color: #f99d39;
	padding:7px;
	color: #ffffff;

	border-right:1px solid #f99d39;
	border-left:1px solid #f99d39;
}

.pos-box-blink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.pos-box-content {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:450px;
	width:258px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #eeeeee;
	background-color: #ffffff;
	line-height: 1.3em;
}

.pos-box-input {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.pos-box-textarea {
	font-size: 13px;
	width: 245px;
	height:28px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #eeeeee;
	margin: 1px;
	overflow:hidden;
}

.pos-box-textarea-selected {
	border: 2px solid #f99d39;
	margin:0;
}
/*
.posboxmessage {
}
*/
.pos-box-info {
	background-color: chartreuse;
	color: #333333;
	display: inline-block; 
	border-radius: 5px; 
	width:fit-content; 
	max-width:190px;
	padding: 5px;
	margin: 2px;
}

.pos-box-message-time {
	color:#666666;
	display: inline-block; 
	width:fit-content; 
	font-size: xx-small;
}

.pos-box-message-from {
	font-weight: bold;
}

.pos-box-message-content {
	background-color: #666666;
	color: #eeeeee;
	display: inline-block; 
	border-radius: 5px; 
	width:fit-content; 
	max-width:190px;
	padding: 5px;
	margin: 2px;
}

.pos-box-options {
	float: right;
}

.pos-box-options a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.pos-box-title {
	float: left;
}